{% if raw is not defined or not raw %}<div style="width: 100%;">{% endif %}
    <div class="portfolio-grid">
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/deep.gif") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/up.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/ceo.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/mailbox.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/fast.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/adminpanel.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/sociallight.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/layers.gif") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/album.gif") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/watch.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/homeaway.jpg") }}" alt="" />
        </a>
        <a href="">
            <div class="project-description">
                <h4>Project</h4>
                <p>Describe your image here.  Click me and then “Organize Images” to change my text.</p>
            </div>
            <img src="{{ asset("bundles/layout/img/portfolio/rowland.jpg") }}" alt="" />
        </a>
    </div>
{% if raw is not defined or not raw %}</div>{% endif %}
